.summary-card {
    border-radius: 0.375rem; /* Rounded corners */
    display: flex;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .summary-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.875rem; /* Tailwind's text-3xl */
    padding: 0.5rem 1rem; /* Equivalent to Tailwind's px-4 */
  }
  
  .summary-card-content {
    padding-left: 1rem; /* Tailwind's pl-4 */
    padding-top: 0.25rem; /* Tailwind's py-1 */
    padding-bottom: 0.25rem;
  }
  
  .summary-card-text {
    font-size: 1.125rem; /* Tailwind's text-lg */
    font-weight: 600; /* Tailwind's font-semibold */
    margin-bottom: 0.25rem;
  }
  
  .summary-card-number {
    font-size: 1.875rem; /* Tailwind's text-3xl */
    font-weight: 700; /* Tailwind's font-bold */
  }
  
  /* Add your dynamic colors */
  .bg-teal-600 {
    background-color: #319795;
  }
  
  .bg-yellow-600 {
    background-color: #D69E2E;
  }
  
  .bg-red-600 {
    background-color: #C53030;
  }
  